
body {
  font-family: 'Varela Round', sans-serif;
}

nav {
  background-color: crimson;
  width: auto;
}

nav ul {
  list-style-type: none;
  padding: 10px;
}

nav ul li {
  display: inline-block;
  margin-left: 50px;
}

a {
  color: black;
}

a:link {
  float: left;
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 10px 10px;
}

nav li:hover {
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px;
}

h2 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

form {
  text-align: center;
}

form button {
  border-radius: 25px;
  background-color: crimson;
}

form button:hover {
  background-color: white;
  transition: 350ms;
}

footer {
  background-color: crimson;
  height: 100px;
  margin-top: 20px;
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
}

#gameboard {
  border: 3px black solid;
  margin: auto;
  width: 1300px;
}

#categories {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#categories div {
  display: inline-block;
  border: 1px black solid;
  margin: auto;
  padding: 10px;
  height: 70px;
  width: 230px;
}

#levelone {
  text-align: center;
  margin-bottom: 20px;
}

#levelone div {
  display: inline-block;
  border: 1px black solid;
  margin: auto;
  padding: 10px;
  height: 70px;
  width: 230px;
}

#leveltwo {
  text-align: center;
  margin-bottom: 20px;
}

#leveltwo div {
  display: inline-block;
  border: 1px black solid;
  margin: auto;
  padding: 10px;
  height: 70px;
  width: 230px;
}

#levelthree {
  text-align: center;
  margin-bottom: 20px;
}

#levelthree div {
  display: inline-block;
  border: 1px black solid;
  margin: auto;
  padding: 10px;
  height: 70px;
  width: 230px;
}